.banner-heading .banner-content h1 {
  font-size: 1.8rem;
}

.banner-heading .banner-content .hline {
  width: 1.5rem;
}

#footer-logo-banner .footer-banner-content h1 {
  font-size: 1.5rem;
}

#footer-logo-banner .footer-banner-content .hline {
  width: 2rem;
}

#footer-content {
  height: 90vh;
}

@media (max-width: 500px) {
  #nav-main .logo {
    font-size: 1.8rem;
  }

  #logo-main {
    width: 60%;
  }

  #showcase #showcase-item-1 {
    background: url('../img/showcase-1-mobile.jpg');
    background-position: center;
  }

  #showcase #showcase-item-2 {
    background: url('../img/showcase-2-mobile.jpg');
    background-position: center;
  }

  #showcase #showcase-item-3 {
    background: url('../img/showcase-3-mobile.jpg');
    background-position: center;
  }

  #showcase #showcase-item-4 {
    background: url('../img/showcase-4-mobile.jpg');
    background-position: center;
  }

  .banner-heading {
    height: 10vh;
  }

  .banner-heading .banner-content h1 {
    font-size: 1.3rem;
  }

  .banner-heading .banner-content .hline {
    width: 1.5rem;
  }

  #sales-left,
  #sales-right,
  #rentals-left,
  #rentals-right,
  #service-left,
  #service-right {
    height: 60vh;
  }

  #sales-right .sales-right-content {
    height: 60vh;
  }

  #sales-left .sales-left-content {
    padding: 0.5rem !important;
  }

  #sales-left .sales-left-content h1 {
    font-size: 2.5rem;
  }

  #sales-left .sales-left-content p {
    font-size: 1.5rem;
  }

  #sales-left #img-sales {
    position: relative;
    background: url('../img/sales-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  #sales-right .sales-right-content {
    font-size: 1rem;
  }

  .rentals-left-content {
    padding: 0.5rem !important;
    height: 60vh;
  }

  #rentals-left .rentals-left-content h1 {
    font-size: 2rem;
  }

  #rentals-left .rentals-left-content h2 {
    font-size: 1.5rem;
  }

  #rentals-left .rentals-left-content h4 {
    font-size: 1rem;
  }

  #rentals-right .rentals-right-content {
    padding: 0.75rem !important;
  }

  #rentals-right #img-rentals {
    position: relative;
    background: url('../img/rentals-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
  }

  #rentals-right .rentals-right-content h1 {
    font-size: 2.5rem;
  }

  #rentals-right .rentals-right-content p {
    font-size: 1.5rem;
  }

  #service-left .service-left-content h1 {
    font-size: 2rem;
  }

  #service-left .service-left-content p {
    font-size: 1.5rem;
  }

  .service-left-content {
    padding: 0.75rem !important;
  }

  #service-right .service-right-content {
    height: 60vh;
  }

  #service-right .box-icon {
    font-size: 1rem !important;
  }

  #service-right .box-sub-heading {
    padding: 0.5rem !important;
  }

  #service-right .service-right-content h1 {
    font-size: 2rem !important;
  }

  #service-right .service-right-content h3 {
    font-size: 1.25rem !important;
  }

  #about-ebikes .about-ebikes-content #ebike-questions h1,
  #about-ebikes .about-ebikes-content #ebike-questions h4 {
    font-size: 1rem;
  }

  #about-ebikes .about-ebikes-content {
    margin-left: 0 !important;
  }

  #ebike-questions {
    padding-left: 1rem !important;
  }

  #testimonials p {
    font-size: 1rem !important;
  }

  #rentals-heading h1 {
    font-size: 3.5rem !important;
  }

  #service-heading h1 {
    font-size: 3.5rem !important;
  }

  .display-3 {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }

  #footer-content {
    height: 100%;
  }
}
