.banner-heading .banner-content h1 {
  font-size: 1.8rem;
}

.banner-heading .banner-content .hline {
  width: 1.5rem;
}

#sales {
  /* width: 100%; */
}

#footer-content {
  height: 100vh;
}

#footer-logo-banner .footer-banner-content h1 {
  font-size: 1.5rem;
}

#footer-logo-banner .footer-banner-content .hline {
  width: 2rem;
}


@media(max-width: 500px) {
  #nav-main .logo {
    font-size: 1.8rem;
  }

  #showcase,
  #showcase .showcase-img {
    height: 60vh;
  }

  #showcase #showcase-item-1 {
    background: url('../img/showcase-1-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #showcase #showcase-main-text h1 {
    font-size: 2rem;
  }

  #home-info h1 {
    font-size: 2rem;
  }

  #home-info p {
    font-size: 1.2rem;
  }

  #home-info .box-sub-heading .lead {
    font-size: 1.4rem;
  }

  .banner-heading {
    height: 10vh;
  }

  .banner-heading .banner-content h1 {
    font-size: 1.3rem;
  }
  
  .banner-heading .banner-content .hline {
    width: 1.5rem;
  }

  #home-about-ebikes .about-ebikes-content #ebike-questions h4 {
    font-size: 1.2rem;
  }

  #footer-content {
    height: 100vh;
  }


}
