/* ================================== */
/* NAVBAR */
#nav-main {
  height: 10vh;
}

#nav-main .logo {
  font-size: 3rem;
}

/* ================================== */
/* SHOWCASE */

#showcase {
  height: 90vh;
  width: 100%;
}

#showcase .showcase-img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}

#showcase #showcase-item-1 {
  background: url('../img/showcase-1.jpg');
  background-position: center;
}

#showcase #showcase-item-2 {
  background: url('../img/showcase-2.jpg');
  background-position: center;
}

#showcase #showcase-item-3 {
  background: url('../img/showcase-3.jpg');
  background-position: center;
}

#showcase #showcase-item-4 {
  background: url('../img/showcase-4.jpg');
  background-position: center;
}

#showcase #showcase-main-text {
  position: absolute;
  top: 7rem;
  width: 100%;
  color: #fff;
}

/* ================================== */
/* Sales */

#sales-left,
#sales-right,
#rentals-left,
#rentals-right,
#service-left,
#service-right {
  height: 70vh;
  width: 100%;
}

#sales-left #img-sales {
  position: relative;
  background: url('../img/home-sales.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#sales-left .sales-left-content h1 {
  font-size: 3.5rem;
}

#sales-left .sales-left-content p {
  font-size: 1.5rem;
}

#sales-right .sales-right-content {
  height: 70vh;
  font-size: 1.5rem;
}

/* ================================== */
/* Rentals */

#rentals-left {
  position: relative;
  background: url('../img/map-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  width: 100%;
}

#rentals-right #img-rentals {
  position: relative;
  background: url('../img/rentals-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}

#rentals-right .rentals-right-content h1 {
  font-size: 3.5rem;
}

#rentals-right .rentals-right-content p {
  font-size: 2rem;
}

/* ================================== */
/* SERVICE */

#service-left #img-service {
  position: relative;
  background: url('../img/repair-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#service-left .service-left-content h1 {
  font-size: 3rem;
}

#service-left .service-left-content p {
  font-size: 2rem;
}

#service-right .service-right-content {
  height: 70vh;
  font-size: 1.5rem;
}

/* ================================== */
/* ABOUT e-BIKES */
#about-ebikes {
  position: relative;
  background: url('../img/home-about-ebikes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  /* min-height: 500px; */
}

.row-hl {
  height: 100%;
}

/* ================================== */
/* TESTIMONIALS */

#testimonials p {
  font-size: 1.4rem;
}

#testimonials i {
  font-size: 1rem;
}

.rating i {
  text-shadow: 0 0 3px #000;
}

/* ================================== */
/* FOOTER */

#footer-logo-banner .hline {
  width: 200px;
  height: 2px;
  background: #6c757d;
}

#footer-content {
  position: relative;
  height: 35vh;
  width: 100%;
  background: url('../img/map-bg.jpg');
  background-position: top;
  background-size: contain;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}

#service-showcase {
  position: relative;
  background: url('../img/service-showcase.jpg');
  background-size: cover;
  background-position: center;
  height: 55vh;
}

#service-packages .tune-card .card-header {
  position: relative;
  background: url('../img/map-bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70px;
  width: 100%;
}
