/* ================================== */
/* NAVBAR */

#logo-nav img {
  height: 4rem;
}

/* ================================== */
/* SHOWCASE SLIDER */

#showcase {
  height: 65vh;
  width: 100%;
}

#showcase .showcase-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  width: 100%;
}

#showcase #showcase-item-1 {
  background: url('../img/showcase-1.jpg');
  background-position: center;
}

#showcase #showcase-item-2 {
  background: url('../img/showcase-2.jpg');
  background-position: center;
}

#showcase #showcase-item-3 {
  background: url('../img/showcase-3.jpg');
  background-position: center;
}

#showcase #showcase-item-4 {
  background: url('../img/showcase-4.jpg');
  background-position: center;
}

#showcase #showcase-item-5 {
  background: url('../img/showcase-5.jpg');
  background-position: center;
}

/* ================================== */
/* BANNER (LOGO-MAIN) */

#logo-banner-main {
  height: 25vh;
}

#logo-banner-content {
  height: 100%;
}

#logo-main {
  width: 30%;
}

/* ================================== */
/* Sales */

#sales-left,
#sales-right,
#rentals-left,
#rentals-right,
#service-left,
#service-right {
  height: 70vh;
  width: 100%;
}

#sales-left #img-sales {
  position: relative;
  background: url('../img/sales.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* ================================== */
/* Rentals */
#rentals-right #img-rentals {
  position: relative;
  background: url('../img/rentals.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* ================================== */
/* SERVICE */

#service-left #img-service {
  position: relative;
  background: url('../img/service.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* ================================== */
/* ABOUT e-BIKES */

#about-ebikes {
  position: relative;
  background: url('../img/home-about-ebikes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

/* ================================== */
/* TESTIMONIALS */

#testimonials p {
  font-size: 1.4rem;
}

#testimonials i {
  font-size: 1rem;
}

.rating i {
  text-shadow: 0 0 3px #000;
}

/* .testimonial-body a.collapsed:after {
  content: '... More';
}

.testimonial-body a:not(.collapsed):after {
  content: '... More';
} */

/* ================================== */
/* FOOTER */

#logo-footer {
  height: 2.5rem;
}

/* ================================== */
/* SERVICE PAGE */

.tune-card .card-header {
  position: relative;
  background: url('../img/map-bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70px;
  width: 100%;
}

/* ================================== */
/* XL Devices (1080p) */

@media (min-width: 1441px) {
  #showcase #showcase-item-2 {
    background: url('../img/showcase-2-xxl.jpg');
    background-position: center;
  }

  #showcase #showcase-item-3 {
    background: url('../img/showcase-3-xxl.jpg');
    background-position: center;
  }

  #showcase #showcase-item-4 {
    background: url('../img/showcase-4-xxl.jpg');
    background-position: center;
  }

  #showcase #showcase-item-5 {
    background: url('../img/showcase-5-xxl.jpg');
    background-position: center;
  }
}
